<div class="container">
  <div class="balloon white">
    <div class="star-red"></div>
    <div class="face">
      <div class="eye"></div>
      <div class="mouth happy"></div>
    </div>
    <div class="triangle"></div>
    <div class="string"></div>
  </div>

  <div class="balloon red">
    <div class="star"></div>
    <div class="face">
      <div class="eye"></div>
      <div class="mouth happy"></div>
    </div>
    <div class="triangle"></div>
    <div class="string"></div>
  </div>

  <div class="balloon blue">
    <div class="star"></div>
    <div class="face">
      <div class="eye"></div>
      <div class="mouth happy"></div>
    </div>
    <div class="triangle"></div>
    <div class="string"></div>
  </div>
  <div class="timer" id="timer-1">
    <div class="days">
      <span class="value" data-value="days">11</span>
      <span class="label">Days</span>
    </div>

    <div class="hours">
      <span class="value" data-value="hours">11</span>
      <span class="label">Hours</span>
    </div>

    <div class="minutes">
      <span class="value" data-value="mins">11</span>
      <span class="label">Minutes</span>
    </div>

    <div class="seconds">
      <span class="value" data-value="secs">11</span>
      <span class="label">Seconds</span>
    </div>
  </div>
</div>
